<%= render :partial => "shared/errors", :locals => { :model => @profession } %>
<%= form_for(@profession, :html => {:class => 'form-horizontal' }) do |f| %>
    <div class="control-group <%= is_error?(@profession, :name) %>">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, :class => 'input-xxlarge'  %><span class="help-inline"><%= @profession.errors[:name].join(", ") %></span>
        </div>
    </div>
    <div class="control-group <%= is_error?(@profession, :function) %>">
        <%= f.label :function, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :function, :class => 'input-xxlarge' %><span class="help-inline"><%= @profession.errors[:function].join(", ") %></span>
        </div>
    </div>
    <div class="control-group <%= is_error?(@profession, :seeds) %>">
        <label class="control-label" for="profession_seeds">Seeds/Traits</label>
        <div class="controls stream-box well well-small">
            <% @traits.each_with_index do |seed, index| %>
                <% previous = @traits[index-1] %>
                <% if (previous.category != seed.category) %>
                    <label><b><%= (seed.category || "none").capitalize %></b></label>
                <% end %> 
                <div style="padding-left: 1rem">
                    <table>
                        <tr>
                            <td valign="top" style="padding-right: .5rem">
                                <%= check_box_tag "profession[seed_ids][]", seed.id, @profession.seeds.include?(seed) %>
                            </td>
                            <td valign="top" style="padding-right: .5rem">
                                <%= check_box_tag "profession[trait_ids][]", seed.id, @profession.traits.include?(seed) %>
                            </td>
                            <td>
                                <%= seed.name %><br><small><%= seed.description %></small>
                            </td>
                        </tr>
                    </table>
                </div>
            <% end %>
        </div>
    </div>    
    <div class="control-group <%= is_error?(@profession, :tags) %>">
        <label class="control-label" for="profession_tags">Tags</label>
        <div class="controls stream-box well well-small">
            <% @tags.each_with_index do |tag, index| %>
                <% previous = @tags[index-1] %>
                <% if (previous.category != tag.category) %>
                    <label><b><%= (tag.category || "none").capitalize %></b></label>
                <% end %> 
                <label style="padding-left: 1rem">
                    <table>
                        <tr>
                            <td valign="top" style="padding-right: .5rem">
                                <%= check_box_tag "profession[tag_ids][]", tag.id, @profession.tags.include?(tag) %>
                            </td>
                            <td>
                                <%= tag.name %><br><small><%= tag.description %></small>
                            </td>
                        </tr>
                    </table>
                </label>
            <% end %>
        </div>
    </div>    
    <%= render 'shared/keys' %>
<% end %>
