<%= render :partial => "shared/errors", :locals => { :model => @item } %>
<%= form_for(@item, :html => {:class => 'form-horizontal' }) do |f| %>
    <div class="control-group <%= is_error?(@item, :name) %>">
        <%= f.label :name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :name, :class => 'input-xxlarge' %><span class="help-inline"><%= @item.errors[:name].join(", ") %></span><br>
            <span id="plural"></span>
        </div>
    </div>
    <div class="control-group <%= is_error?(@item, :value) %>">
        <%= f.label :value, :class => 'control-label' %>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">$</span>
                <%= f.text_field :value, {:style => 'width: 180px'} %><span class="help-inline"><%= @item.errors[:value].join(", ") %></span>
            </div>
        </div>
    </div>
    
    <div class="control-group <%= is_error?(@item, :enc) %>">
        <%= f.label :enc, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :enc %><span class="help-inline"><%= @item.errors[:enc].join(", ") %></span>
        </div>
    </div>
    
    <div class="control-group <%= is_error?(@item, :tags) %>">
        <label class="control-label" for="item_tags">Tags</label>
        <div class="controls stream-box well well-small">
            <% @tags.each_with_index do |tag, index| %>
                <% previous = @tags[index-1] %>
                <% if (previous.cat != tag.cat) %>
                    <label><b><%= (tag.cat || "none").capitalize %></b></label>
                <% end %> 
                <label style="padding-left: 1rem">
                    <table>
                        <tr>
                            <td valign="top" style="padding-right: .5rem">
                            <%= check_box_tag "item[tag_ids][]", tag.id, @item.tags.include?(tag) %>
                            </td>
                            <td>
                    <%= tag.name %><br><small><%= tag.description %></small>
                            </td>
                        </tr>
                    </table>
                </label>
            <% end %>
        </div>
    </div>    
    <%= render 'shared/keys' %>
<% end %>
