<p id="notice"><%= notice %></p>

<p>
  <b>Identifier:</b>
  <%= @rule.identifier %>
</p>

<p>
  <b>Parameters:</b>
  <%= @rule.parameters %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
